---
pagination:
  data: entities.byType.officer-page
  size: 1
  alias: officerPage
permalink: "{{ officerPage.url }}"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ officerPage.name | escape }}</title>
</head>
<body>
  <main>
    <h1>{{ officerPage.name | escape }}</h1>
  </main>
</body>
</html>
